.icon-size {
    width: 25px;
    height: 25px;
}

.save-icon-size {
    width: 20px;
    height: 20px;
}

td.col-dauer {
    width: 140px;
    text-align: center;
    vertical-align: middle;
}

.btn:hover {
    background-color: lightgrey !important;
}
