.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    overflow: auto;
}

.confirm-modal-background {
    display: block;
    background-color: rgba(10,10,10,.8);
}

.confirm-modal-content {
    padding-bottom: 10px;
    height: 100%;
    margin-bottom: 10px;
    top: 200px;
    width: 70%;
}

.modal-dialog {
    margin: 10% auto;
    width: 50%;
}

.confirm-modal-dialog {
    max-width: 100%;
    min-width: 50%;
    height: 100%;
    min-height: 50%;
    margin: 1.75rem;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
}
